

<div class="container">
    <div class="control">
        <h3>Bạn muốn  sử dụng Unit Converter - Công cụ chuyển đổi đơn vị chính xác?</h3>
        <ul class="linkabout">
            <li><a routerLink fragment="units">Chiều dài là gì? Feet là gì? 1Km bằng bao nhiêu feet?</a> </li>
            <li><a routerLink fragment="units">Trọng lượng là gì? Làm thế nào để đổi từ tấn sang decagram?</a> </li>
            <li><a routerLink fragment="units" >Diện tích là gì? Tôi muốn quy đổi diện tích?</a> </li>
        </ul>
        <img class="question" src="../assets/question.png" alt="">
        <p class="cre">Làm thế nào để chuyển đổi các đơn vị (Ảnh: Internet)</p>
        Để bắt đầu, chúng ta cùng tìm hiểu một số khái niệm cơ bản:
        <p>Chiều dài là khoảng cách giữa hai điểm. Các đơn vị đo chiều dài phổ biến là mét (m), feet (ft), inch (in),... Ví dụ: 1 km = 3,280.84 ft.</p>
        <p> Trọng lượng là lực hấp dẫn của trái đất tác dụng lên vật. Các đơn vị đo trọng lượng là kg, gram (g), tấn, pound (lb),... Ví dụ: 1 tấn = 10.000 kg = 10.000.000 gram.</p>
       <p> Diện tích là phạm vi bề mặt của một vật. Đơn vị tính diện tích là m2, cm2, feet2 (ft2),...</p>
       <p>Với Unit Converter, bạn chỉ cần nhập giá trị cần chuyển đổi cùng đơn vị ban đầu, rồi chọn đơn vị muốn quy đổi. Kết quả sẽ được tự động tính toán và hiển thị chính xác ngay lập tức.</p>
    
        <h4>Chuyển đổi đơn vị</h4>
        <p>Với các tính năng này, bạn có thể dễ dàng chuyển đổi giữa các đơn vị được sử dụng phổ biến:</p>
        <p>
            <span>✅ Đơn vị chiều dài: km, dm, m, cm, mm, inch, feet...
                Ví dụ: Chuyển đổi 1 km thành feet là 3 280 feet.</span><br>
            <span>✅ Đơn vị trọng lượng: tấn, tạ, yến, kg, hg, dag, g...
                Ví dụ: Chuyển đổi 2 tấn thành kg là 2 000 kg.</span><br>
            <span>✅ Đơn vị diện tích: km², ha, m², dm², cm², mm², nm² ...
                Ví dụ: Chuyển đổi 500 m2 thành feet2 là 5 382 feet2.</span>
        </p>
        <p>Units Converter không chỉ cho phép chuyển đổi đơn giản mà còn có tính năng lặp lại (repeat) rất thông minh, tiện ích.
            Với tính năng Repeat, sau khi đã chọn đơn vị ban đầu và đơn vị cần quy đổi, bạn chỉ cần bấm nút Repeat. Lúc này, khung chọn đơn vị sẽ thay đổi vị trí so với ban đầu để bạn có thể tiện chọn sang đơn vị muốn quy đổi tiếp theo.
            
            Chẳng hạn, ban đầu bạn chuyển từ mét (m) sang feet (ft). Giờ bạn muốn đổi ngược từ feet sang mét. Chỉ cần bấm Repeat, đơn vị feet sẽ ở bên trái và mét ở bên phải để bạn lựa chọn.
            
            Như vậy, thay vì phải nhập lại giá trị, bạn chỉ mất vài giây để đổi chiều và lặp lại việc chuyển đổi. Thật tiện dụng phải không nào!</p>
    </div>
   
    <div  class="highlights" style="border-radius:1px solid red">
        <h4 class="hltittle">Điểm nổi bật</h4>
        <ul class="hlpost">
            <li>Chuyển đổi hàng ngàn đơn vị đo lường thông dụng như chiều dài, khối lượng, diện tích, thể tích, nhiệt độ,... chỉ với vài thao tác đơn giản.</li>
            <li>Giao diện thân thiện, dễ sử dụng cả trên điện thoại và máy tính.</li>
            <li>Chỉ cần lựa chọn đơn vị ban đầu, đơn vị đích và nhập giá trị là có thể chuyển đổi một cách nhanh chóng.</li>
            <li>Hoàn toàn miễn phí. Cam kết mang lại trải nghiệm tuyệt vời nhất cho người dùng.</li>
        </ul>
    </div> 
</div>